@include kbrinl-exports('kbrinl/component/skip-link') {
  .kbrinl-skip-link {
    @include kbrinl-visually-hidden-focusable;
    @include kbrinl-typography-common;
    @include kbrinl-link-style-text;
    @include kbrinl-typography-responsive($size: 16);

    display: block;
    padding: kbrinl-spacing(2) kbrinl-spacing(3);

    // Respect 'display cutout' safe area (avoids notches and rounded corners)
    @supports (padding: unquote('max(calc(0px))')) {
      $padding-safe-area-right: calc(#{kbrinl-spacing(3)} + env(safe-area-inset-right));
      $padding-safe-area-left: calc(#{kbrinl-spacing(3)} + env(safe-area-inset-left));

      // Use max() to pick largest padding, default or with safe area
      // Escaped due to Sass max() vs. CSS native max()
      padding-right: unquote('max(#{kbrinl-spacing(3)}, #{$padding-safe-area-right})');
      padding-left: unquote('max(#{kbrinl-spacing(3)}, #{$padding-safe-area-left})');
    }

    &:focus {
      outline: $kbrinl-focus-width solid $kbrinl-focus-colour;
      outline-offset: 0;
      background-color: $kbrinl-focus-colour;

      // Undo unwanted changes when global styles are enabled
      @if ($kbrinl-global-styles) {
        box-shadow: none;
        text-decoration: underline;
      }
    }
  }
}
