{% extends '_generic.njk' %}
{% from 'components/jumbotron/macro.njk' import kbrinlJumbotron %}

{% block main %}
  <main id="main-content" role="main">
    {% block content %}
      {{ kbrinlJumbotron({
        heading: "Design indonesia.nl services with the KBRINL component library",
        descriptionText: "Make use of the extensive research and experience that went into creating this design system and deliver accessible and effective services.",
        classes: 'kbrinl-!-padding-bottom-0',
        buttons: [{
          text: "Get started",
          href: "/get-started",
          isStartButton: true,
          classes: 'kbrinl-button--inverted'
        }]
    }) }}
    {% endblock %}
    <div class="kbrinl-width-container">
      <div class="kbrinl-main-wrapper">
        <section>
          <div class="kbrinl-grid-row">
            <div class="kbrinl-grid-column-one-third-from-desktop">
              <h2 class="kbrinl-heading-l">
                Get started
              </h2>
              <p class="kbrinl-body">
                Quickly get started using KBRINL back-end and implement it in your project.
              </p>
              <p class="kbrinl-body kbrinl-!-margin-bottom-0">
                <a href="/get-started" class="kbrinl-link">Installation guide</a>
              </p>
            </div>
            <div class="kbrinl-grid-column-one-third-from-desktop">
              <h2 class="kbrinl-heading-l">
                Components
              </h2>
              <p class="kbrinl-body">
                Save time and make use of the reusable components in the library.
              </p>
              <p class="kbrinl-body kbrinl-!-margin-bottom-0">
                <a href="/Components" class="kbrinl-link">Browse components</a>
              </p>
            </div>
            <div class="kbrinl-grid-column-one-third-from-desktop">
              <h2 class="kbrinl-heading-l">
                GitHub
              </h2>
              <p class="kbrinl-body">
                Contribute to the development of this component library using GitHub.
              <p>
              <p class="kbrinl-body kbrinl-!-margin-bottom-0">
                <a href="https://github.com/opinionated-digital-studio/kbrinl-frontend" target="__blank" class="kbrinl-link">GitHub Repository</a>
              </p>
            </div>
          </div>
        </section>
        <hr class="kbrinl-section-break--xl kbrinl-section-break--visible">
        <section>
          <div class="kbrinl-grid-row">
            <div class="kbrinl-grid-column-two-thirds-from-desktop">
              <h2 class="kbrinl-heading-l">Support and maintenance</h2>
              <p class="kbrinl-body">
              This component library is maintained by <a class="kbrinl-link" href="https://opinionated.nl" target="_blank">Opinionated</a> agency. For questions and feedback, get in touch by <a class="kbrinl-link" href="mailto:mail@opinionated.nl" target="_blank">mail</a> or consider posting an issue on <a href="https://github.com/opinionated-digital-studio/kbrinl-frontend" target="__blank" class="kbrinl-link">GitHub</a> for suggestions.
              </p>
            </div>
          </div>
        </section>
      </div>
    </div>
  </main>
{% endblock %}

