{% extends "_generic.njk" %}
{% from "components/sub-navigation/macro.njk" import kbrinlSubNavigation-%}

{% block main %}
  <div id="main-content">
    <div class="kbrinl-width-container {{ containerClasses }}">
    {% block beforeContent %}{% endblock %}
      <div class="kbrinl-main-wrapper">
        <main id="main-content" class=" app-prose-scope" role="main">
          {% if pageTitle %}
            <h1>{{ pageTitle }}</h1>
          {% endif %}
          {% block content %}
          {% endblock %}
        </main>
      </div>
    </div>
  </div>

{% endblock %}
